.timeline-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
  flex-shrink: 0;

  .title {
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 500;
    color: var(--text-primary);
    margin-bottom: 24px;
    line-height: 1.4;
  }

  .timescale-container {
    .dropdown-panel {
      min-width: 180px !important;
      aspect-ratio: 200 / 136;
    }
  }

  .timescale-label {
    font-size: 13px;
    font-weight: 400;
    color: var(--text-secondary);
    background: var(--bg-light-secondary);
    padding: 4px 8px;
    border-radius: 5px 0px 0px 5px;
  }

  .timescale-button-text {
     background: none;
    font-size: 13px;
    font-weight: 500;
    color: var(--primary-shade);
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 0px 5px 5px 0px;
    border: none;
  }

  .timescale-btn {
    background: none;
    font-size: 13px;
    font-weight: 500;
    color: var(--primary-shade);
    cursor: pointer;
    padding: 4px 8px;
    padding-left: 0; 
    border-radius: 5px;
    transition: all 0.15s;
    border: none;  
    box-shadow: 1px 2.5px 3px -1.5px rgba(200, 207, 233, 1);


    img {
      transition: transform 0.2s;
      color: var(--text-secondary);
    }

    &.open img {
      transform: rotate(180deg);
      color: var(--primary);
    }
  }

  .timescale-option {
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font-size: 13px;
    padding: 8px 16px;
    color: var(--text-primary);
    cursor: pointer;
        white-space: pre;
  }

  .today-btn {
    margin-left: auto;
    background: var(--bg-white);
    border: 1px solid var(--stroke-dark);
    border-radius: 6px;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 500;
    color: var(--text-secondary);
    padding: 6px 14px;
    cursor: pointer;
    transition: all 0.15s;
    box-shadow: var(--shadow-btn);
  }
}
