.timeline-header {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;

  .timescale-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .title {
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 500;
    color: var(--text-primary);
    margin: 0;
  }

  ::ng-deep .dropdown-panel {
    width: 280px;
    box-shadow: var(--shadow-dropdown-elevated);
  }

  .timescale-label {
    font-size: 13px;
    font-weight: 400;
    color: var(--text-secondary);
    background: var(--bg-light-secondary);
    padding: 4px 8px;
    border-radius: 5px 0px 0px 5px;
  }

  .timescale-button-text {
    background: none;
    font-size: 13px;
    font-weight: 500;
    color: var(--primary-shade);
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 0px 5px 5px 0px;
    border: none;
  }

  .timescale-btn {
    background: none;
    font-size: 13px;
    font-weight: 500;
    color: var(--primary-shade);
    cursor: pointer;
    padding: 4px 8px;
    padding-left: 0;
    border-radius: 5px;
    transition: all 0.15s;
    border: none;
    box-shadow: var(--shadow-sm);

    img {
      transition: transform 0.2s;
      color: var(--text-secondary);
    }

    &.open img {
      transform: rotate(180deg);
      color: var(--primary);
    }
  }

  .timescale-options-list {
    list-style: none;
    margin: 0;
    padding: 12px 0;
  }

  .timescale-option {
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    padding: 4px 12px;
    color: var(--text-primary-2);
    cursor: pointer;
    white-space: pre;
    transition: background 0.15s;

    &.active {
      color: var(--primary-shade);
    }
  }

  .today-btn {
    margin-left: auto;
    align-self: end;
    background: var(--bg-white);
    border: none;
    border-radius: 5px;
    color: var(--text-secondary);
    padding: 4px 12px;
    cursor: pointer;
    transition: all 0.15s;
    box-shadow: var(--shadow-btn);
  }
}
