.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--bg-white);
  padding: 0px 24px;
  overflow: hidden;
  gap: 45px;
}

.app-header {
  flex-shrink: 0;
  margin: 20px 0px;
}